.app-footer {
    text-align: center;
}

.app-list {
    background: #eeeeee;
}

.row-hover.webix_cell {
    background: #F4F5F9;
}

.users-list .webix_list_item {
    display: flex;
    justify-content: space-between;
}

.green-background {
    background: #00ffaa;
}